/********
    INHERIT
 ********/
.alert-danger {
    background-color: #e51c23;
}
.alert-success {
    background-color: #4caf50;
}
.alert {
    border: medium none;
    color: #fff;
}

/********************************************************/

/********
    HTML ELTS
 ********/
body {
    margin-top: 51px !important;
}

/********************************************************/

/********
    CLASS
 ********/
.list-group-item small {
    font-size: 10px;
    color: #444444;
}
.list-group-item .label {
    padding: 0.4em !important;
}
.page-header .label {
    padding: 0.2em 0.6em 0.1em;
}
.list-group-item-link {
    cursor: pointer;
}


/********************************************************/

/********
    ID
 ********/
#page-wrapper {
    min-height: 86vh;
    padding-top: 25px;
}

@media (max-width: 768px)
{
    #page-wrapper {
        padding-top: 70px;    
    }
}

#home-logo {
    margin: 0 auto 20px;
    display: block;
    height: auto;
    max-width: 100%;
    background-color:gray;
}

#home-text {
    display: block;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4.75em;
}

#all-tasks-processing td {
    vertical-align: middle;
}

#footer
{
    padding: 20px;
    position: relative;
    text-align: center;
    color: #9d9d9d;
}
/********************************************************/
