{% block menu %}
    <!-- http://ironsummitmedia.github.io/startbootstrap-sb-admin/ -->
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        {{ include ('FrontEndFrontOfficeBundle:Common:menu.html.twig', {}) }}
    </nav>
{% endblock %}